<div class='col mt-5'>
  <div class='card bg-light'>
    <div class='card-body'>
      <h2 class='card-title text-capitalize'><%= yield(:heading) %></h2>

      <%= form_with(model: object, scope: object, url: url, local: true, class: 'form') do |form| %>
        <% unless object == :session %>
          <%= render 'shared/errors', object: object %>
        <% end %>

        <%= render yield(:path), form: form %>

        <div class='form-group'>
          <%= form.submit yield(:button), class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <% if object == :session %>
        <small>New user? <%= link_to "Sign up now!", signup_path %></small>
      <% elsif object.is_a? User %>
        <small>Already a user? <%= link_to "Sign in!", signin_path %></small>
      <% end %>
    </div>
  </div>

</div>
